# Web Scraping Assignment 4

### Importing necessary libraries

In [1]:
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import requests
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

**Q1: Scrape the details of most viewed videos on YouTube from Wikipedia:**

**Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/**

**You need to find following details:**

**A) Rank**

**B) Name**

**C) Artist**

**D) Upload date**

**E) Views**

In [2]:
# Connecting to the webdriver
driver = webdriver.Chrome('chromedriver.exe')

# Getting the webpage of mentioned url 
url=('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.get(url)

In [3]:
# Creating empty list for scaping the data

Rank = []
Name = []
Artist = []
Upload_Date = []
Views = []

In [4]:
# Scraping Rank of the videos
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
# Scraoing Name of the videos
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")
    
# Scraping Artist of the video
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("_")

# Scraping Uploaded date of the video
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Upload_Date.append(i.text)
except NoSuchElementException:
    Upload_Date.append("_")
    
# Scraping Views of videos
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("_")
    
# Creating DataFrame fr scraped data
Wiki = pd.DataFrame({})
Wiki['Rank']=Rank
Wiki['Name']=Name
Wiki['Artist']=Artist
Wiki['Upload Date']=Upload_Date
Wiki['Views']=Views

# Removing stray numbers from Name column
Wiki.Name = Wiki.Name.apply(lambda x:x[:-4].strip('"'))
Wiki

,Rank,Name,Artist,Upload Date,Views
0,1.,Baby Shark Dance,Pinkfong Kids' Songs & Stories,9.27,"June 17, 2016"
1,2.,Despacito,Luis Fonsi,7.52,"January 12, 2017"
2,3.,Johny Johny Yes Papa,LooLoo Kids,5.68,"October 8, 2016"
3,4.,Shape of You,Ed Sheeran,5.45,"January 30, 2017"
4,5.,See You Again,Wiz Khalifa,5.25,"April 6, 2015"
5,6.,Bath Song,Cocomelon – Nursery Rhymes,4.49,"May 2, 2018"
6,7.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,4.46,"February 27, 2018"
7,8.,Masha and the Bear – Recipe for Disaster,Get Movies,4.46,"January 31, 2012"
8,9.,Uptown Funk,Mark Ronson,4.28,"November 19, 2014"
9,10.,Gangnam Style,Psy,4.18,"July 15, 2012"
10,11.,Phonics Song with Two Words,ChuChu TV,4.14,"March 6, 2014"
11,12.,Dame Tu Cosita,El Chombo,3.57,"April 5, 2018"
12,13.,Sugar,Maroon 5,3.54,"January 14, 2015"
13,14.,Sorry,Justin Bieber,3.46,"October 22, 2015"
14,15.,Roar,Katy Perry,3.42,"September 5, 2013"
15,16.,Counting Stars,OneRepublic,3.38,"May 31, 2013"
16,17.,Thinking Out Loud,Ed Sheeran,3.31,"October 7, 2014"
17,18.,Wheels on the Bus,Cocomelon – Nursery Rhymes,3.24,"May 24, 2018"
18,19.,Dark Horse,Katy Perry,3.14,"February 20, 2014"
19,20.,Faded,Alan Walker,3.13,"December 3, 2015"
20,21.,Girls Like You,Maroon 5,3.11,"May 31, 2018"
21,22.,Shake It Off,Taylor Swift,3.09,"August 18, 2014"
22,23.,Lean On,Major Lazer,3.09,"March 22, 2015"
23,24.,Bailando,Enrique Iglesias,3.09,"April 11, 2014"
24,25.,Let Her Go,Passenger,3.07,"July 25, 2012"
25,26.,Axel F,Crazy Frog,2.98,"June 16, 2009"
26,27.,Mi Gente,J Balvin,2.97,"June 29, 2017"
27,28.,Perfect,Ed Sheeran,2.94,"November 9, 2017"
28,29.,Waka Waka (This Time for Africa),Shakira,2.93,"June 4, 2010"
29,30.,Hello,Adele,2.88,"October 22, 2015"

**Q2: Scrape the details of team India’s international fixtures from bcci.tv.**

**Url = https://www.bcci.tv/.**
    
**You need to find following details:**
    
**A) Match title (I.e. 1st ODI)**

**B) Series**

**C) Place**

**D) Date**

**E) Time**

**Note: - From bcci.tv home page you have reach to the international fixture page through code**

In [2]:
# Connecting to the webdriver
driver = webdriver.Chrome('chromedriver.exe')

# Getting the webpage of mentioned url 
url=('https://www.bcci.tv/')
driver.get(url)

In [6]:
# Connecting to the webdriver
driver = webdriver.Chrome('chromedriver.exe')

# Getting the webpage of mentioned url 
url=('https://www.bcci.tv/')
driver.get(url)

btn=driver.find_element_by_xpath("//div[@class = 'navigation__drop-down drop-down drop-down--reveal-on-hover']/div/ul/li/a")
driver.get(btn.get_attribute("href"))
time.sleep(3)

# Creating empty lists for scraping the data

Match_Title = []
Series = []
Place = []
Date = []
Time = []

for i in driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[@class='u-unskewed-text fixture__format']"):
    Match_Title.append(i.text)
    
for i in driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
    Series.append(i.text)

for i in driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']/p/span"):
    Place.append(i.text)
    
for i in driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']"):
    Date.append(i.text.replace('\n',' '))
    
date=[i.split(' ',3)[:3] for i in Date]
date=[' '.join(i) for i in date]
Time=[i.split(' ',3)[-1] for i in Date]

# Creating data frame
fixture=pd.DataFrame({'Match Title': Match_Title,
                          "Series": Series,
                          "Place": Place,
                          "Date": date,
                          "Time": Time})
fixture

,Match Title,Series,Place,Date,Time
0,TEST,ENGLAND V INDIA 2021,"The Oval, London",Thursday 02 SEPTEMBER,15:30 IST
1,TEST,ENGLAND V INDIA 2021,"Old Trafford, Manchester",Friday 10 SEPTEMBER,15:30 IST
2,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",Sunday 24 OCTOBER,19:30 IST
3,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",Sunday 31 OCTOBER,19:30 IST
4,T20I,2021 ICC MEN'S T20 WORLD CUP,"Sheikh Zayed Cricket Stadium, Abu Dhabi",Wednesday 03 NOVEMBER,19:30 IST
5,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",Friday 05 NOVEMBER,19:30 IST
6,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",Monday 08 NOVEMBER,19:30 IST

**Q3: Scrape the details of selenium exception from guru99.com.**
    
**Url = https://www.guru99.com/**
    
**You need to find following details:**
    
**A) Name**

**B) Description**

**Note: - From guru99 home page you have to reach to selenium exception handling page through code**.

In [2]:
# Connecting to the webdriver
driver = webdriver.Chrome('chromedriver.exe')

# Getting the webpage of mentioned url 
url=('https://www.guru99.com/')
driver.get(url)

In [3]:
# Creating empty list
Name = []
Description = []

In [4]:
#Clicking on Selenium button
driver.find_element_by_xpath("//li//a[@title='Selenium']").click()

#Clicking on Exception Handling button
driver.find_element_by_xpath('//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()

#Scraping Name
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]"):
            Name.append(i.text)

#Scraping Description
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]"):
            Description.append(i.text)
        
# creating the dataframe from the scraped data
Selenium=pd.DataFrame({})
Selenium['Exception_Name']=Name
Selenium['Description']=Description
Selenium

,Exception_Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

**Q4: Scrape the details of State-wise GDP of India from statisticstime.com.**
    
**Url = http://statisticstimes.com/**
    
**You have to find following details:**
    
**A) Rank**

**B) State**

**C) GSDP at current price (19-20)**

**D) GSDP at current price (18-19)**

**E) Share(18-19)**

**F) GDP($ billion)**

**Note: - From statisticstimes home page you have to reach to economy page through code.**

In [2]:
# Connecting to the webdriver
driver = webdriver.Chrome('chromedriver.exe')

# Getting the webpage of mentioned url 
url=('http://statisticstimes.com/')
driver.get(url)

In [4]:
# Clicking on Economy button
driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button").click()

# Clicking on India
driver.find_element_by_xpath("//div[@class='dropdown-content']/a[3]").click()
time.sleep(3)

# Clicking on GDP of Indian Economy
GDP = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(3)

In [9]:
# Creating empty list
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP_billion = []

# Scraping Rank
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
# Scraping State
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
    
# Scraping GSDP at current price (19-20)
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")
    
# Scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
    
# Scraping Share (18-19)
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
    
# Scraping GDP $ billion
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")
    
# Creating DataFrame from the scraped data
GDP = pd.DataFrame({})
GDP['Rank'] = Rank
GDP['State'] = State
GDP['GSDP at current price (19-20)'] = GSDP1
GDP['GSDP at current price (18-19)'] = GSDP2
GDP['Share(18-19)'] = Share
GDP[' GDP($ billion)'] = GDP_billion
GDP

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

**Q5: Scrape the details of trending repositories on Github.com.**
    
**Url = https://github.com/**
    
**You have to find the following details:**
    
**A) Repository title**

**B) Repository description**

**C) Contributors count**

**D) Language used**

**Note: - From the home page you have to click on the trending option from Explore menu through code.**

In [2]:
# Connecting to the webdriver
driver = webdriver.Chrome('chromedriver.exe')

# Getting the webpage of mentioned url 
url=('https://github.com/')
driver.get(url)

In [3]:
#Getting explore button and clicking on it
explore = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details").click()

#Selecting trending option
trend_url = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
urls = trend_url.get_attribute("href")
driver.get(urls)

In [4]:
#Creating empty list
#Creating empty list
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

#Fetching urls for each repository
repository = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

    
# Scraping Repository Title data
title = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)

    
# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(3)
    
    
    # Scraping Repository Description data
    try:
        desc = driver.find_element_by_xpath("//p[@class='f4 mt-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        
    # Scraping Contributors Count data
    try:
        contributor = driver.find_element_by_xpath("//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
        
        
    # Scraping Languages used data
    try:
        for i in driver.find_elements_by_xpath("//span[@class='color-text-primary text-bold mr-1']"):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        Language.append('-')
        
#DATA FRAMEING
Github=pd.DataFrame({})
Github['Repository title'] = repository_title
Github['Repository description'] = Description
Github['Contributors count'] = Contributors
Github['Language used'] = Language
Github

,Repository title,Repository description,Contributors count,Language used
0,GTAmodding / re3,"GTA III, Vice City",41,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
1,VickScarlet / lifeRestart,やり直すんだ。そして、次はうまくやる。,16,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
2,lootproject / website,Loot Project website,25,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
3,TheAlgorithms / Python,All Algorithms implemented in Python,713,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
4,Anish-Agnihotri / dhof-loot,Scripts to collect statistics about LOOT + der...,3,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
5,TheAlgorithms / C-Plus-Plus,Collection of various algorithms in mathematic...,235,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
6,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,110,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
7,microsoft / PowerToys,Windows system utilities to maximize productivity,203,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
8,openwrt / openwrt,This repository is a mirror of https://git.ope...,788,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
9,v2fly / v2ray-core,A platform for building proxies to bypass netw...,107,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
10,MarlinFirmware / Marlin,Marlin is an optimized firmware for RepRap 3D ...,939,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
11,HashLips / generative-art-opensource,Create generative art by using the canvas api ...,-,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
12,vxunderground / MalwareSourceCode,Collection of malware source code for a variet...,4,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
13,metaplex-foundation / metaplex,Protocol and application framework for decentr...,37,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
14,armosec / kubescape,kubescape is the first tool for testing if Kub...,6,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
15,wrfree / free,freefq账号已恢复！翻墙、免费翻墙、免费科学上网、免费节点、免费梯子、免费ss/v2ra...,-,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
16,bespoyasov / frontend-clean-architecture,React + TypeScript app built using clean archi...,2,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
17,TheAlgorithms / Javascript,A repository for All algorithms implemented in...,152,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
18,0voice / Introduction-to-Golang,【未来服务器端编程语言】最全空降golang资料补给包（满血战斗），包含文章，书籍，作者论文...,8,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
19,iptv-org / iptv,Collection of publicly available IPTV channels...,111,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
20,Anuken / Mindustry,A sandbox tower defense game,387,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
21,30-seconds / 30-seconds-of-code,Short JavaScript code snippets for all your de...,263,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
22,NotLuksus / nft-art-generator,A tool to generate generative NFT art projects.,3,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
23,vnpy / vnpy,基于Python的开源量化交易平台开发框架,109,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."
24,jackfrued / Python-100-Days,Python - 100天从新手到大师,12,"[C++, C, Assembly, CMake, Lua, HLSL, Other, Ja..."

**Q6: Scrape the details of top 100 songs on billboard.com.**
    
**Url = https://www.billboard.com/**
    
**You have to find the following details:**
    
**A) Song name**

**B) Artist name**

**C) Last week rank**

**D) Peak rank**

**E) Weeks on board**

**Note: - From the home page you have to click on the charts option then hot 100-page link through code**

In [2]:
# Connecting to the webdriver
driver = webdriver.Chrome('chromedriver.exe')

# Getting the webpage of mentioned url 
url=('https://www.billboard.com/')
driver.get(url)

In [3]:
#Clicking on charts
charts=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/header/div/ul/li[1]").click()

In [4]:
# Creating empty lists
Song_Name = []
Artist_Name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

# Getting urls for top 100 songs
urls = driver.find_element_by_xpath("//div[@class='charts-landing first-group']//div//a")
page_url = urls.get_attribute("href")
driver.get(page_url)
time.sleep(4)

# Scraping data of song names
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
    Song_Name.append(i.text)
    
# Scraping data of artist names
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    Artist_Name.append(i.text)
    
# Scraping data of last week ranks
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
    Last_week_rank.append(i.text)
    
# Scraping data of peak rank
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    Peak_rank.append(i.text)
    
# Scraping data of weeks on board
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    Weeks_on_board.append(i.text)
    
# Creating dataframe for scraped data
billboard=pd.DataFrame({})
billboard['Name'] = Song_Name
billboard['Artist'] = Artist_Name
billboard['Last week rank'] = Last_week_rank
billboard['Peak rank'] = Peak_rank
billboard['Weeks on board'] = Weeks_on_board
billboard

,Name,Artist,Last week rank,Peak rank,Weeks on board
0,Stay,The Kid LAROI & Justin Bieber,1,1,7
1,Bad Habits,Ed Sheeran,2,2,9
2,Good 4 U,Olivia Rodrigo,3,1,15
3,Kiss Me More,Doja Cat Featuring SZA,5,3,20
4,Industry Baby,Lil Nas X & Jack Harlow,7,2,5
...,...,...,...,...,...
95,Tick Tock,Young Thug,-,96,1
96,Permission To Dance,BTS,66,1,7
97,AM,Nio Garcia X J Balvin X Bad Bunny,85,41,9
98,Time Heals,Rod Wave,-,99,1
99,Thinking 'Bout You,Dustin Lynch Featuring Lauren Alaina Or MacKen...,91,91,2

**Q7: Scrape the details of Data science recruiters from naukri.com.**
    
**Url = https://www.naukri.com/**
    
**You have to find the following details:**
    
**A) Name**

**B) Designation**

**C) Company**

**D) Skills they hire for**

**E) Location**

**Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code**

In [2]:
# Connecting to the webdriver
driver = webdriver.Chrome('chromedriver.exe')

# Getting the webpage of mentioned url 
url=('https://www.naukri.com/')
driver.get(url)
time.sleep(2)

In [3]:
#Fetching urls to navigate recruiter page
recruiter = driver.find_element_by_xpath("//a[@title='Search Recruiters']")
page_url = recruiter.get_attribute("href")

driver.get(page_url)
time.sleep(3)

In [4]:
# Fetching search button, sending keys and clicking on it
search = driver.find_element_by_xpath("//div[@class='inpWrap']//input") 
search.send_keys("Data science ")           
btn = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()     
time.sleep(3)

In [5]:
#Creating empty lists
Name = []
Designation = []
Company = []
Skills = []
Location = []

#Scraping data of Names
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    Name.append(i.text)
time.sleep(3)


#Scraping data of Designation
for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    Designation.append(i.text)
time.sleep(3)

#Scraping data of company name
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]/a[2]"):
    Company.append(i.text)
time.sleep(3)
    
#scraping data of Skills 
for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        Skills.append(i.text)
    except NoSuchElementException:
        Skills.append('-')
    time.sleep(3)

#Scraping data of locations
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]//span"):
    Location.append(i.text)
time.sleep(3)

# Creating dataframe for scraped data
Naukri=pd.DataFrame({})
Naukri['Name'] = Name[:50]
Naukri['Designation'] = Designation[:50]
Naukri['Company'] = Company[:50]
Naukri['Skills'] = Skills[:50]
Naukri['Location'] = Location[:50]
Naukri

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Aakash Harit
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",HR Manager
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Delhi
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",shravan Kumar Gaddam
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",Company Recruiter
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Hyderabad / Secunderabad
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,MARSIAN Technologies LLP
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Company HR
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Pune
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Anik Agrawal
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Company Recruiter
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Ahmedabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",subhas patel
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Founder CEO
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",UK - (london)
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Abhishek - Only Analytics Hiring - India and
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Recruitment Lead Consultant
17,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Vadodara / Baroda
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Institute for Financial Management and Resear
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Programme Manager
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Chennai
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Balu Ramesh
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",HR Administrator
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Trivandrum
24,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Asif Lucknowi
25,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Director
26,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Indore
27,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",InstaFinancials
28,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Human Resource
29,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Priyanka Akiri
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",HR Manager
32,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad
33,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Kalpana Dumpala
34,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Executive Hiring
35,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Hyderabad / Secunderabad
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Mubarak
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Company HR
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Bengaluru / Bangalore
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Kushal Rastogi
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Company HR
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Ruchi Dhote
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Senior Executive Talent Acquisition
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Pune
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Mahesh Babu Channa
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",HR Team Lead
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Hyderabad / Secunderabad
48,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Kapil Devang
49,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",HR Manager

**Q8: Scrape the details of Highest selling novels.**
    
**Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/**
    
**You have to find the following details:**
    
**A) Book name**

**B) Author name**

**C) Volumes sold**

**D) Publisher**

**E) Genre**

In [2]:
# Connecting to the webdriver
driver = webdriver.Chrome('chromedriver.exe')

# Getting the webpage of mentioned url 
url=('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')
driver.get(url)

In [3]:
#Creating empty list
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

#scraping book names data
for i in driver.find_elements_by_xpath("//tbody//tr/td[2]"):
    Book_name.append(i.text)

    
#Scraping author names data
for i in driver.find_elements_by_xpath("//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Author_name.append(i.text)
    except NoSuchElementException:
        Author_name.append('-')
time.sleep(1)


#Scraping data of volumes sold
for i in driver.find_elements_by_xpath("//tbody/tr/td[4]"):
    Volumes_sold.append(i.text)

    
#Scraping data of publisher names
for i in driver.find_elements_by_xpath("//tbody/tr/td[5]"):
    Publisher.append(i.text)

    
#Scraping data of genre
for i in driver.find_elements_by_xpath("//tbody/tr/td[6]"):
    Genre.append(i.text)
    
#Creating dataframe for scraped data
Novels=pd.DataFrame({})
Novels['Book Name'] = Book_name
Novels['Author'] = Author_name
Novels['Volume sold'] = Volumes_sold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

**Q9: Scrape the details most watched tv series of all time from imdb.com.**
    
**Url = https://www.imdb.com/list/ls095964455/**
    
**You have to find the following details:**
    
**A) Name**

**B) Year span**

**C) Genre**

**D) Run time**

**E) Ratings**

**F) Votes**

In [2]:
# Connecting to the webdriver
driver = webdriver.Chrome('chromedriver.exe')

# Getting the webpage of mentioned url 
url=("https://www.imdb.com/list/ls095964455/")
driver.get(url)

In [3]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

#Scraping data of Names
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    Name.append(i.text)

#Scraping data of Year span
for i in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)

#Scraping data of genre
for i in driver.find_elements_by_xpath("//span[@class='genre']"):
    Genre.append(i.text)

#Scraping data of Run time
for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
    Run_time.append(i.text)

#Scraping data of Ratings
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
#Scraping data of votes
for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)
    
# Creating dataframe for scraped data
TV_series=pd.DataFrame({})
TV_series['Name'] = Name
TV_series['Year Span'] = Year_span
TV_series['Genre'] = Genre
TV_series['Run Time'] = Run_time
TV_series['Ratings'] = Ratings
TV_series['Votes'] = Votes
TV_series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,867,447"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"903,038"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"894,564"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"269,238"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"229,489"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,483"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,356"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"174,357"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,486"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"198,179"

**Q10: Details of Datasets from UCI machine learning repositories.**
    
**Url = https://archive.ics.uci.edu/**
    
**You have to find the following details:**
    
**A) Dataset name**

**B) Data type**

**C) Task**

**D) Attribute type**

**E) No of instances**

**F) No of attribute**

**G) Year**

**Note: - from the home page you have to go to the Show All Dataset page through code**

In [2]:
# Connecting to the webdriver
driver = webdriver.Chrome('chromedriver.exe')

# Getting the webpage of mentioned url 
url=("https://archive.ics.uci.edu/")
driver.get(url)

In [3]:
# Finding view all dataset button from the webpage
viewall_dataset = driver.find_element_by_xpath("//tbody[1]//tr/td[2]/span[2]/a")    
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)
time.sleep(3)

In [4]:
# Fetching page urls of all datasets 
view_list = driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
list_url = view_list.get_attribute("href")           
driver.get(list_url)
time.sleep(3)

In [5]:
# Fetching urls for each dataset
dataset_url = driver.find_elements_by_xpath("//p[@class='normal']//b/a")    

urls = []     
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [6]:
#Creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

for i in urls:
    driver.get(i)
    time.sleep(3)
    
    #Scraping Dataset name
    try: 
        dataset_name = driver.find_element_by_xpath("//span[@class='heading']")
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    time.sleep(2)
    
    #Scraping data type
    try:
        data_type = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[2]")
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')
    time.sleep(2)
    
    #scraping Task
    try:
        task = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    time.sleep(2)
    
    # Scraping Attribute type
    try:
        attribute_type = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[2]")
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
    time.sleep(2)
    
    # Scraping No of instances
    try:
        instances = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[4]")
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
    time.sleep(2)
    
    # Scraping No of attributes
    try:
        attribute = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[4]")
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
    time.sleep(2)
    
    # Scraping year
    try:
        year = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')
    time.sleep(2)

In [7]:
# Creating dataframe for scraped data
ML=pd.DataFrame({})
ML['Data Name'] = Dataset_name
ML['Data Type'] = Data_type
ML['Task'] = Task
ML['Attribute type'] = Attribute_type
ML['No of instance'] = No_of_instances
ML['No of attributes'] = No_of_attributes
ML['Year'] = Year
ML

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
4,A study of Asian Religious and Biblical Texts ...,"Multivariate, Text","Classification, Clustering",Integer,590,8265,2019
...,...,...,...,...,...,...,...
583,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,-,9800,3,2019
584,YouTube Multiview Video Games Dataset Data Set,"Multivariate, Text","Classification, Clustering","Integer, Real",120000,1000000,2013
585,YouTube Spam Collection Data Set,Text,Classification,-,1956,5,2017
586,Z-Alizadeh Sani Data Set,-,Classification,"Integer, Real",303,56,2017
587,Zoo Data Set,Multivariate,Classification,"Categorical, Integer",101,17,1990

# DONE